<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/50d9da7357.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: rgba(33, 37, 41, 1);
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
            height: auto;
            padding: 3% 0%;
        }

        .card {

            border: none;
            box-shadow: 1px 3px 5px 0px #e9ecf03d;
            border-radius: 4px;
            text-shadow: none;
            margin: 3% 0%;
        }

        i {
            padding: 0px 5px;
        }
    </style>
</head>

<body>
    <div class="container ">

        <div class="row  d-flex justify-content-center">

            <div class="col-md-8">

                <div class="headings d-flex justify-content-between align-items-center mb-3">
                    <h2 class="text-white">You've Discovered Secret!!</h2>

                    <div>
                        <a type="button" class="btn btn-primary btn-sm shadow" href="/submit"><i
                                class="fa-solid fa-plus"></i></a>
                        <a type="button" class="btn btn-danger btn-sm shadow" href="/logout"><i
                                class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    </div>

                </div>

            </div>

            <div class="col-md-8">

                <% FOUND_USERS.forEach(function(users){ %>
                    <% users.secretArray.forEach(function(secrets){ %>

                        <div class="card p-3 ">

                            <div class="d-flex justify-content-between align-items-center">

                                <div class="user d-flex flex-row align-items-center">
                                    <i class="fa-solid fa-user">&nbsp;</i>
                                    <span><small class="font-weight-bold text-primary">Anonymous_kumar</small> <small
                                            class="font-weight-bold">
                                            <%= secrets.SingleSecret %>
                                        </small></span>
                                </div>

                                <form action="/reaction" method="post">
                                    <div>
                                        <button name="likebtn" value=1 type="submit" class="btn btn-outline-light btn-sm"><i
                                                class="fa-regular fa-thumbs-up fa-lg text-muted"></i><span
                                                style="color: black;">
                                                <%= secrets.like %>
                                            </span></button>
                                        <button name="dislikebtn" value=0 type="submit" class="btn btn-outline-light btn-sm"><i
                                                class="fa-regular fa-thumbs-down fa-lg text-muted"></i><span
                                                style="color: black;">
                                                <%= secrets.dislike %>
                                            </span></button>
                                        <input name="username" type="hidden" value="<%=users.username%>">
                                        <input name="selectedSecret" type="hidden" value="<%=secrets.SingleSecret%>">
                                        <input name="like" type="hidden" value="<%=secrets.like%>">
                                        <input name="dislike" type="hidden" value="<%=secrets.dislike%>">
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <% }); %>
                            <% }); %>

            </div>
        </div>
    </div>


</body>

</html>